<a href="https://colab.research.google.com/github/vamshishashikrishna/LearnAnalytics/blob/main/Python_workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("This is introduction to PDC")
print("This","is","intro","Python")
print("hello", "\t"," after tab")
print("hello", "\n"," next line")

This is introduction to PDC
This is intro Python
hello 	  after tab
hello
  next line

In [ ]:
print(type(4))
print(type("hi"))
print(type(4.4))
isinstance("hi",str)

<class 'int'>
<class 'str'>
<class 'float'>

True

In [ ]:
name ="myname"
print(name)

padma

In [ ]:
a = 5
b = 7
sum = a+b
print(sum)
x = 7.6
print(int(x))

12
7

In [ ]:
4%2
a= 5
a=a+6
print(a)
a +=6
print(a)

11
17

In [ ]:
print('don\'t')
print("In below code use triple quotes to print sentence having double and single quote words")

don't

In [ ]:
print("""\t\tPDC Course: Introduction to Python Programming, \nThis course introduces you to the fundamentals of writing python programs. During the
course, you will learn concepts such as "Lists", "Dictionaries", and also learn to work with
the 'Pandas' library. \n\nGood luck!""")

		PDC Course: Introduction to Python Programming,
This course introduces you to the fundamentals of writing python programs. During the
course, you will learn concepts such as "Lists", "Dictionaries", and also learn to work with
the 'Pandas' library.

Good luck!

In [ ]:
snack ="milky way"
print(snack[:2])
print(snack[6:])

mi
way

In [ ]:
#string concatination
first_name ="Hertie"
last_name =" School"
full_name = first_name+last_name
print(full_name)

#duplicating string - here * 3 will duplicate the name 3 time
duplicate_name = (full_name+ ' ') * 3
print(duplicate_name)

print(full_name.upper())
print(full_name.lower())
print(full_name.capitalize())
place = full_name.replace(" School", " lab")
print(full_name.count("o"))

#string interpolation
name = "Olaf Scholz"
age = 64
print("{} the chancellor of Germany is {} years old".format(name,age))
print(f"{name},the chancellor of Germany is {age} years old")

Hertie School
Hertie School Hertie School Hertie School
HERTIE SCHOOL
hertie school
Hertie school
2
Olaf Scholz the chancellor of Germany is 64 years old
Olaf Scholz,the chancellor of Germany is 64 years old

In [ ]:
rating = input("How woukd you rate your day on a scale of 1-10 ")
print(f"you have entered {rating}")
if not isinstance(rating, int):
    print("please only input integer value")

#differe example with try and except
age = input("Please enter your age")
try:
    age = int(age)
    print(age)
except:
    print("Please enter your age in integer")

How woukd you rate your day on a scale of 1-10 1
you have entered 1
please only input integer value
Please enter your agehh19
Please enter your age in integer

In [ ]:
name = input("Enter your name")
email = input("Enter your email ID")
print(f"Please confirm that you have entered your name as {name} and Email Id as {email}")

Enter your nameHertie
Enter your email IDhertie@gmail.com
Please confirm that you have entered your name as Hertie and Email Id as hertie@gmail.com

In [ ]:
age = input("What is your age?")
age = int(age)
print(f"oh, cool. This means in 10 years time you will be {age+10} years old")

What is your age?10
oh, cool. This means in 10 years time you will be 20 years old

In [ ]:
#Program restaurant
bill = input("Enter your bill amount")
tip = input("Do you want to tip 15% or 20%, choose 1 for option 15% tip or 2 for option 20% tip")
bill = int(bill)
#tip = int(tip)
if tip==1:
    print(f"your total bill is {bill+bill*0.15}")
else:
    print(f"your total bill is {bill+bill*0.2}")

Enter your bill amount100
Do you want to tip 15% or 20%, choose 1 for option 15% tip or 2 for option 20% tip1
your total bill is 120.0

In [ ]:
#booleans True or False , type bool
age = input("Enter your age : ")
age = int(age)
if age>18:
    over_18 = True
else:
    over_18= False
if over_18==True:
    print("You can elibile for gettign a driving licence")
else:
    print(f"Please try after {18-age} years")

Enter your age : 10
Please try after 8 years

In [ ]:
age = 30
if age < 13:
    print("you are less than 13 years")
if age >=20 and age <=21:
    print("You are between 20 and 21")
if age!=21:
    print("you are not 21")
if age >=30 and age <= 40:
    print("you are someone in ther 30's")

you are not 21
you are someone in ther 30's

In [ ]:
#elif statement
mood = input("On a scale of 1-3, what is your mood? ")
mood = int(mood)
print("I sense your energy. Your true emotions are coming across myscreen...")
if mood == 3:
 print("You are happy")
elif mood == 2:
 print("You are neutral")
elif mood == 1:
 print("You are sad")
else:
 print("Illegal mood value!")

On a scale of 1-3, what is your mood? 2
I sense your energy. Your true emotions are coming across myscreen...
You are neutral

In [ ]:
from pickle import TRUE
# nested conditionals: to the club or not
age = 22
have_a_car = TRUE
if age > 18:
 print("You are permitted to go to the club.")
 if have_a_car:
    print("And you can come along with us to the club.")
 else:
    print("But you can't come along with us to the club.")
elif 18 >= age < 21:
    print("But you are not permitted to drink in the club.")
else:
    print("You are not permitted to go to the club")

You are permitted to go to the club.
And you can come along with us to the club.

In [ ]:
#nested if
score = input("Enter students score")
score = int(score)
if score >=90 and score <=100:
    print("Student grade is A")
elif score >=80 and score <90:
    print("Student grade is B")
elif score >=70 and score <80:
    print("Student grade is C")
elif score >=60 and score <70:
    print("Student grade is D")
else:
    print("Student grade is F")

Enter students score9
Student grade is F

In [ ]:
#nested if and while loop
choice ="y"
while choice == "y":
    score = input("Enter students score")
    score = int(score)
    if 90<=score<=100:
        print("Student grade is A")
    elif 80<=score<90:
        print("Student grade is B")
    elif 70<=score<80:
        print("Student grade is C")
    elif 60<=score<70:
        print("Student grade is D")
    else:
        print("Student grade is F")
    choice =input("Do you want to continue checking the grade (y/n)")

Enter students score44
Student grade is F
Do you want to continue checking the grade (y/n)y
Enter students score88
Student grade is B
Do you want to continue checking the grade (y/n)y
Enter students score99
Student grade is A
Do you want to continue checking the grade (y/n)n

In [ ]:
number =1
while number<=20:
    if number%2==0:
        print(f"{number} is an even number")
    number +=1

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number
20 is an even number

In [ ]:
from os import truncate
number =100
while number%17:
    if number%17+1==0:
     #   print(f"First number divisible by 17 is {number}")
      print(f"First number divisible by 17 is {number+1}")
      #  break
    number +=1

In [ ]:
#for loop
for index in "Berlin":
    print("Josh"+index)

for i in range(2,11,2):
    print(i)

JoshB
Joshe
Joshr
Joshl
Joshi
Joshn
2
4
6
8
10

In [ ]:
for i in range(5,0,-1):
    print(i)
for i in range(3):
    print("Padma")

5
4
3
2
1
Padma
Padma
Padma

In [ ]:
#check for prime numbers
for num in range(10,100):
    if (num%2==0) or (num%3==0) or (num%5==0) or (num%7==0):
        continue
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
num =10
while num<=100:
    if (num%2==0) or (num%3==0) or (num%5==0) or (num%7==0):
        num +=1
        continue
    print(num)
    num =num+1

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
list = ["bread", "eggs", "milk"]
print(type(list))
print(list[1])
mixed_list = [True, 112, "shopping"]
print(mixed_list)
mixed_list[1]
#check if an item is in a list
print(112 in mixed_list)
print("shopping" in mixed_list)

#lenght of list
print(len(mixed_list))

#concatening a list
final_list = list+mixed_list
print(final_list)
final_list[1][:2]
final_list.append("last item")
final_list
num_list = [10,5,12,56,1,7]
num_list.sort()
print(num_list)
num_list.insert(3,8)
print(num_list)
print(final_list.reverse() )

<class 'list'>
eggs
[True, 112, 'shopping']
True
True
3
['bread', 'eggs', 'milk', True, 112, 'shopping']
[1, 5, 7, 10, 12, 56]
[1, 5, 7, 8, 10, 12, 56]
None

In [ ]:
to_do_list = ["code", "attend workshp", "meet friends"]
print(to_do_list)
to_do_list.extend(["make food", "go out for a walk", "sleep"])
print(to_do_list)
print([to_do_list[0:3]])
to_do_list.insert(0, "take a break")
print(to_do_list)

to_do_list.pop(to_do_list.index("sleep"))
print(to_do_list)

['code', 'attend workshp', 'meet friends']
['code', 'attend workshp', 'meet friends', 'make food', 'go out for a walk', 'sleep']
[['code', 'attend workshp', 'meet friends']]
['take a break', 'code', 'attend workshp', 'meet friends', 'make food', 'go out for a walk', 'sleep']
['take a break', 'code', 'attend workshp', 'meet friends', 'make food', 'go out for a walk']

In [ ]:
#create a dictionary
employee = {"name": "Jake", "age": 32, "salary": 50000}

# access a dictionary element using its key
employee['age']
# what happens if you try accessing a dictionary using a non-existent key?
#employee["department"]
# accessing a dictionary using the get method
employee.get("age")
# using .get() to access a non-existent key , it returns nothing instead of throwing an error
employee.get("department", 0)
employee["deparment"] = "Sales"
print(employee)

#replace a key value pair
employee["age"] = 40
print(employee)

#delete a dictionary element
del employee["deparment"]
print(employee)

#return all keys of a dictionary
emp_keys = employee.keys()
print(emp_keys)
emp_values = list(employee.values())

{'name': 'Jake', 'age': 32, 'salary': 50000, 'deparment': 'Sales'}
{'name': 'Jake', 'age': 40, 'salary': 50000, 'deparment': 'Sales'}
{'name': 'Jake', 'age': 40, 'salary': 50000}
dict_keys(['name', 'age', 'salary'])

TypeError: 'list' object is not callable

In [ ]:
list_countries = ["Japan","Kenya","Germany", "Canada"]
list_continents = ["Asia", "Africa", "Europe", "North America"]
travel_plans = dict(zip(list_continents,list_countries))
print(travel_plans)
travel_plans["Africa"] = [travel_plans["Africa"], "South Africa"]
print(travel_plans)
travel_plans["South America"] = "Brazil"
print(travel_plans)
for list_continents, list_countries in travel_plans.items():
    if isinstance(list_countries, list):
        print(f"I want to visit {list_countries[0]} and {list_countries[1]} in continent {list_continents}")
    else:
        print(f"I want to visit {list_countries} in {list_continents}")

{'Asia': 'Japan', 'Africa': 'Kenya', 'Europe': 'Germany', 'North America': 'Canada'}
{'Asia': 'Japan', 'Africa': ['Kenya', 'South Africa'], 'Europe': 'Germany', 'North America': 'Canada'}
{'Asia': 'Japan', 'Africa': ['Kenya', 'South Africa'], 'Europe': 'Germany', 'North America': 'Canada', 'South America': 'Brazil'}
I want to visit Japan in Asia
I want to visit Kenya and South Africa in continent Africa
I want to visit Germany in Europe
I want to visit Canada in North America
I want to visit Brazil in South America